SECRET_KEY=secret_key_here
DEBUG=True
STRIPE_PUBLIC=public_key_here
STRIPE_SECRET_KEY=secret_key_here
STRIPE_SUCCESS_URL=http://127.0.0.1:8000/api/payments/success
STRIPE_CANCEL_URL=http://127.0.0.1:8000/api/payments/cancel