services:
  web:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - db

  db:
    image: postgres:17-alpine
    volumes:
      - ./data/db/:/var/lib/postgresql/data/
    env_file:
      - .env

  redis:
    image: redis:7-alpine

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    command: "celery -A library_api_service worker -l INFO --pool=solo"
    volumes:
      - ./:/code
    env_file:
      - .env
    depends_on:
      - redis
      - db
      - web
    restart: on-failure

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py wait_for_db &&
        celery -A library_api_service beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler"
    volumes:
      - ./:/code
    env_file:
      - .env
    depends_on:
      - redis
      - db
      - web
